html
{
    font-size: 10px;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav Bar */

header
{
    position: fixed;
    width: 100vw;
    top: 0;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px black solid;

    
}

nav
{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: bold;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    
}

.nav-links
{
    display: flex;
    gap: 50px;   
}



li
{
    list-style-type: none;
}

a
{
    text-decoration: none
}

p
{
    font-size: 1.75rem;
}

.nav-item a
{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.nav-item a:hover
{
    border-bottom: 2px black solid;
    
}

/* Hero */

#hero
{
    height: 100vh;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    text-align: center;
    padding:  0 15px;
}

#hero-wrapper
{
    background-color: rgba(186, 235, 255, 0.158);
}

#hero h1
{
    font-size: 8rem;
}

h2
{
    font-size: 4rem;
}

#hero h2
{
    
    margin: 20px 0;
}

.social-links
{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

/* This is a wrapper to keep the sections at max 1080px */

.section-wrapper
{
    max-width: 1080px;
    
    margin: 0 auto;
}

/* Skills */

#skills
{
    border: 2px black solid;
    padding-bottom: 50px;
}

h3
{
    font-size: 2.5rem;
}

/* Skills Section - Skills */



.skills-top-header
{
    border-bottom: 2px black solid;
    padding: 10px;
    background-color: rgb(220, 242, 245);
}
.skills-experience-container
{
    padding: 0 25px;
    margin: 50px 0;
    display: flex;
    gap: 50px;
}

.skills-container,
.experience-container
{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.skills-container h3
{
    margin: 50px 0;
}

.skills-list
{
    display: flex;
    gap: 10px;
}

.skills-list li
{
    border: 2px black solid;
    padding: 10px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
    gap: 5px;
}

.skills-list li:hover
{
    box-shadow: -5px 3px;
}


/* Skills Section - Experience */
.experience-item,
.experience-details
{
 display: flex;
 justify-content: center;
}

.experience-item
{
    align-items: center;
}

.experience-details
{
    flex-direction: column;
}

.experience-date,
.experience-details
{
width: 50%;

}
.experience-date,
.experience-details-position
{
    font-size: 1.5rem;
}

.experience-list
{
    margin: 50px 0;
}

h4
{
    font-size: 2rem;
}

#hero-wrapper,
#skills-wrapper,
#projects-wrapper
{
    margin-bottom: 150px;
}

/* Projects Section */


#projects
{
    padding: 50px 0;
}

.projects-container

{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}

.project-card
{
    border: 2px black solid;
    padding: 50px 25px;
    width: 45%;
    box-shadow: -3px 8px rgba(0, 0, 0, 0.13);
}


.project-card-heading
{
    margin-bottom: 5px;
}


.project-card-description
{
    margin: 25px 0 50px;
}

.project-card-code-btn, .project-card-live-link
{
    border: 2px black solid;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.project-card-code-btn
{
    background-color: rgb(220, 242, 245);
}

.project-card-code-btn
{
    margin-right: 10px;
}

.project-card-code-btn:hover,
.project-card-live-link:hover
{
    box-shadow: -5px 3px;
}

footer
{
    padding: 15px;
    border: 2px black solid;
    text-align: center;
    background-color: rgb(209, 209, 209);
    margin-top: 50px;
}

footer a {
    color: black;
}